body{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.targeta {
  background: linear-gradient(rgb(62, 183, 106), rgb(224, 222, 222), rgb(220, 65, 109));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin-top: 20px;
}

.btn:hover {
  background-color: #1890ff;
  border-color: #1890ff;
}
